.button{
    color: black;
    background-color: chartreuse !important;
    font-style: oblique;
    font-family: cursive;
    font-weight: bold;
}
.parent{
    color: darkcyan;
    font: bold;
    font-family: sans-serif;
    font-style: italic;
    background-color: burlywood;
}
.child{
    color: aquamarine;
    font: bold;
    font-family: sans-serif;
    font-style: italic;
    background-color: darkgray;
}